In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("../data/raw_data.csv", sep="\t")

In [15]:
df.columns = df.columns.str.strip()
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [17]:
df["Dt_Customer"] = pd.to_datetime(df["Dt_Customer"], dayfirst=True)

In [18]:
cat_cols = df.select_dtypes(include="object").columns
cat_cols

Index(['Education', 'Marital_Status'], dtype='object')

In [19]:
binary_cols = [col for col in cat_cols if df[col].nunique() == 2]
binary_cols

[]

In [20]:
multi_cols = [col for col in cat_cols if col not in binary_cols]
multi_cols

['Education', 'Marital_Status']

In [21]:
df = pd.get_dummies(df, columns=multi_cols, drop_first=True)

In [22]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       2240 non-null   int64
 1   Year_Birth               2240 non-null   int64
 2   Income                   2216 non-null   float64
 3   Kidhome                  2240 non-null   int64
 4   Teenhome                 2240 non-null   int64
 5   Dt_Customer              2240 non-null   datetime64[ns]
 6   Recency                  2240 non-null   int64
 7   MntWines                 2240 non-null   int64
 8   MntFruits                2240 non-null   int64
 9   MntMeatProducts          2240 non-null   int64
 10  MntFishProducts          2240 non-null   int64
 11  MntSweetProducts         2240 non-null   int64
 12  MntGoldProds             2240 non-null   int64
 13  NumDealsPurchases        2240 non-null   int64
 14  NumWebPurchases          2240 non-null   int64
 15  NumCatalogPurchases      2240 non-null   int64
 16  NumStorePurchases        2240 non-null   int64
 17  NumWebVisitsMonth        2240 non-null   int64
 18  AcceptedCmp3             2240 non-null   int64
 19  AcceptedCmp4             2240 non-null   int64
 20  AcceptedCmp5             2240 non-null   int64
 21  AcceptedCmp1             2240 non-null   int64
 22  AcceptedCmp2             2240 non-null   int64
 23  Complain                 2240 non-null   int64
 24  Z_CostContact            2240 non-null   int64
 25  Z_Revenue                2240 non-null   int64
 26  Response                 2240 non-null   int64
 27  Education_Basic          2240 non-null   bool
 28  Education_Graduation     2240 non-null   bool
 29  Education_Master         2240 non-null   bool
 30  Education_PhD            2240 non-null   bool
 31  Marital_Status_Alone     2240 non-null   bool
 32  Marital_Status_Divorced  2240 non-null   bool
 33  Marital_Status_Married   2240 non-null   bool
 34  Marital_Status_Single    2240 non-null   bool
 35  Marital_Status_Together  2240 non-null   bool
 36  Marital_Status_Widow     2240 non-null   bool
 37  Marital_Status_YOLO      2240 non-null   bool
dtypes: bool(11), datetime64[ns](1), float64(1), int64(25)
memory usage: 496.7 KB

,ID,Year_Birth,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,...,Education_Graduation,Education_Master,Education_PhD,Marital_Status_Alone,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Together,Marital_Status_Widow,Marital_Status_YOLO
0,5524,1957,58138.0,0,0,2012-09-04,58,635,88,546,...,True,False,False,False,False,False,True,False,False,False
1,2174,1954,46344.0,1,1,2014-03-08,38,11,1,6,...,True,False,False,False,False,False,True,False,False,False
2,4141,1965,71613.0,0,0,2013-08-21,26,426,49,127,...,True,False,False,False,False,False,False,True,False,False
3,6182,1984,26646.0,1,0,2014-02-10,26,11,4,20,...,True,False,False,False,False,False,False,True,False,False
4,5324,1981,58293.0,1,0,2014-01-19,94,173,43,118,...,False,False,True,False,False,True,False,False,False,False